qs_backend/.idea/workspace.xml
qs_backend/.idea/dictionaries/E482845.xml
qs_backend/.idea/dictionaries/E482845.xml
qs_backend/.idea/workspace.xml
qs_backend/.idea/workspace.xml
qs_backend/.idea/dictionaries/E482845.xml
*.pyc